<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand"><b>CrackBlog</b></a>
        <ul class="navbar-nav mr-auto">
            <li class ="nav-item">
              <a class="nav-link" href="/admin/categories">Categorias</a>
            </li>
            <li class="nav-item">
              <a href="/admin/articles" class = "nav-link">Artigos</a>
            </li>
            <li class="nav-item">
              <a href="/admin/users" class="nav-link">Usuários</a>
            </li>
            
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn button" href="/logout">Logout</a>
          </li>
        </ul>
</nav>