<%- include ../../partials/header.ejs %>

<body>

        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <a href="/" class="navbar-brand"><b>CrackBlog</b></a>
        </nav>





    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
               <h2>Login de Administrador</h2>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST">
                    <b>Email</b><input class="form-control mt-1" type="email" name="email" placeholder="seuemail@exemplo.com"><b>Senha</b><br>
                    <input type="password" class="form-control mt-1" name="password" placeholder="*******">
                    <button type="submit" class="btn btn-dark mt-3">Logar</button>
                    
                </form>
                
            </div>
        </div>
    </div>
</body>
<%- include ../../partials/footer.ejs %>